<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide" id="carousel-377484">
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel-377484">
          </li>
          <li data-slide-to="1" data-target="#carousel-377484">
          </li>
          <li data-slide-to="2" data-target="#carousel-377484">
          </li>
          <li data-slide-to="3" data-target="#carousel-377484">
          </li>
          <li data-slide-to="4" data-target="#carousel-377484">
          </li>
          <li data-slide-to="5" data-target="#carousel-377484">
          </li>
          <li data-slide-to="6" data-target="#carousel-377484">
          </li>
          <li data-slide-to="7" data-target="#carousel-377484">
          </li>
          <li data-slide-to="8" data-target="#carousel-377484">
          </li>
          <li data-slide-to="9" data-target="#carousel-377484">
          </li>
          <li data-slide-to="10" data-target="#carousel-377484">
          </li>
          <li data-slide-to="11" data-target="#carousel-377484">
          </li>
          <li data-slide-to="12" data-target="#carousel-377484">
          </li>
          <li data-slide-to="13" data-target="#carousel-377484">
          </li>
          <li data-slide-to="14" data-target="#carousel-377484">
          </li>
          <li data-slide-to="15" data-target="#carousel-377484">
          </li>
          <li data-slide-to="16" data-target="#carousel-377484">
          </li>
          <li data-slide-to="17" data-target="#carousel-377484">
          </li>
          <li data-slide-to="18" data-target="#carousel-377484">
          </li>
          <li data-slide-to="19" data-target="#carousel-377484">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img class="gallery-image" alt="Carousel Bootstrap First" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_1.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Second" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_2.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Third" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_3.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Fourth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_4.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Fifth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_5.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Sixth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_6.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Seventh" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_7.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Eighth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_8.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Ninth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_9.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Tenth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_10.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Eleventh" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_11.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Twelfth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_12.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Thirteenth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_13.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Fourteenth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_14.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Fifteenth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_15.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Sixteenth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_16.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Seventeenth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_17.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Eighteenth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_18.jpeg" />
          </div>
          <div class="item">
            <img class="gallery-image"  alt="Carousel Bootstrap Nineteenth" src="https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/Gallery/img_19.jpeg" />
          </div>
        </div> 
        <a class="left carousel-control" href="#carousel-377484" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-377484" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>
</div>