<%= render 'shared/header' %>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5"%>
    <%= image_tag "https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/about+page/about-us-jpeg.jpg", class: "home-page-image" %>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <div class="home-page-text">
      <h1>Who We Are</h1>
    </div>
    <br><br>
    <div class="home-page-text">
      <h3>
        We are a full service but small "hands on" General 
        Contracting firm, where the core work is done primarily by the principals in the company, not just by employees or subcontractors. Only proven specialty subcontractors are used, and these methods results in superior quality and a smoother workflow.
      </h3>
    </div>   
  </div>
  <div class="col-md-1"></div>
</div>

<br>

<div class="about-page-text">
  <h3>
    The Operations Manager and principal of Big River Construction LLC is Craig Hughes. He is a grizzled veteran in the trenches of remodeling by any standard; yet Craig cut his teeth at the beginning of his career as a framing contractor building houses, along with occasional commercial work. After 6 years of this, he started doing more and more remodeling jobs, until remodeling at first became the dominant, and then the total, focus of his business. He has developed a solid reputation as someone who can get even difficult projects done within a reasonable budget when others in the industry had said "no way".  With over 20 years experience in residential and small commercial remodeling (not even mentioning more than a decade of new construction experience) there is not much in these areas that Craig has not had experience in.
  </h3>

  <br>

  <h3>
    Craig found early on that remodeling was a much more challenging undertaking than new construction. "New construction tends to be fairly cut and dried, with significantly less challenges from a technical standpoint as compared to renovation work. Plus, new construction has many facets not related to the actual construction process, such as land acquisition and development, sales and marketing, and financing. The actual construction process tends to be lost in the midst of these other activities, and passed off to a large assemblage of subcontractors, which are usually picked by being the lowest bidder. They do not buy into the project, and generally do only the minimum required to get paid. This business model does not work in remodeling, and frequently results in the inferior craftmanship often observed in new construction".
  </h3>

  <br>

  <h3>
    Craig has observed many of his competitors trying to do remodeling with a new construction type of philosophy. "They sub out as much as they can. One of the results of this is that the homeowner must endure a constant parade of new faces from various subcontractors and their employees traipsing through their house. We believe there is a better way, and have honed and improved these methods over the last twelve years".
  </h3>
</div>

<div class="row about about-page-text">
  <div class="col-md-4 home-page-text">
    <h1>We love new Projects! Let's get started.</h1>
  </div>
  <div class="col-md-8">
    <h4>
      ​Let us take a look at your project. What do you have to lose? Estimates are free. Even if others have told you your project is not feasible, we often can accomplish what others cannot.
      Big River Construction LLC serves the entire Wasatch Front, but we particularly like remodeling &amp; renovation work in West Valley City &amp; environs, such as Taylorsville,  Magna, West Jordan, Kearns, &amp; Salt Lake City.
    </h4>
  </div>
</div>
  