@import "bootstrap-sprockets";
@import "bootstrap";

body{
  padding: 15px;
  background: #d1f8ff;
}

.home-page-image {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  display: inline-block;
  border-radius: 7%;

}

.home-page-image:hover {
  border-width: 5px;
  border-color: blue;
}

.home-page-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 490px;
}

.home-page-list-header {
  padding: 15px;
  background: #ccd5e5;
}

.home-page-list-header:hover {
  background: #bac5d8;
}

#what-we-do-btn {
  margin-top: 15px;
}

#ul-list {
  margin-top: 20px;
  display: flex;
  justify-content: left;
}

.buttons {
  margin-top: 15px;
}

#home-row-one {
  background: #60a2d1;
  padding: 15px;
  border-style: solid;
  border-color: black;
}

hr{
  border-style: solid;
  border-color: black;
}

#banner-image {
  border-style: solid;
  border-color: black;
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  display: inline-block;
}

.about-page-text {
  padding: 25px;
}

.isTable {
  display: table;
}

#who-we-are {
  font-size: 4em;
}

#who-we-are-ex {
  font-size: 2.2em;
}

