@import "bootstrap-sprockets";
@import "bootstrap";

.header {
  background-color: #4de2ea;
  padding: 30px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
}

a {
  color: black;
}

.nav-pills > 
li.active > a, 
.nav-pills > 
li.active > 
a:hover, 
.nav-pills > 
li.active > 
a:focus {
  background-color: white;
  color: black;
}

.nav > li > a {
  text-align: center;
}

