@import "bootstrap";

.home-page-image {
  margin-top: 15px;
  height: 250px;
  width: 250px;
  padding: 10px;
  display: inline-block;
  border-radius: 7px;
}

.home-page-image:hover {
  border-width: 5px;
  border-color: blue;
}

.home-page-list-header {
  padding: 15px;
  background: #ccd5e5;
}

.home-page-list-header:hover {
  background: #bac5d8;
}

#what-we-do-btn {
  margin-top: 15px;
}

#ul-list {
  margin-top: 15px;
}

.buttons {
  margin-top: 15px;
}

